/*@font-face {
    font-family: sans-bold;
    src: url(fonts/source-sans-pro.bold.ttf);
}*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	display: flex;
}
.left{
	position: relative;
	display: flex;
	height: 100vh;
	width: 120vw;
	background-color: #1f1f1f;
}

.three-lines{
	position: absolute;
	top: 250px;
	left: 4%;
}
.one{
	margin-bottom: 5px;
	height: 40px;
	width: 2px;
	background-color: #3d3d3d;
}

.two{
	margin-bottom: 5px;
	height: 40px;
	width: 2px;
	background-color: #e64b3b;
}


.three{
	height: 40px;
	width: 2px;
	background-color: #3d3d3d;
}



.right{
	height: 100vh;
	margin-left: 450px;
	width: 40vw;
	background-image: url('images/phone.png');
}
.our_services{
	position: absolute;
	top: 40px;
	left: 30px;
	text-align: right;
}
.services{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: white;
}

.services-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #e64b3b;
}

.para{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #999999;
	font-size: 10px;
}

.icons{
	display: flex;
	flex-direction: column;
}